*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
   
}

header{
    box-shadow: 0 0 5px;
    padding: 1rem;
    position: sticky;
    background-color: white;
}

a{
    text-decoration: none;
}

header a{
    color: black;
}
/* #region utility */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-login{
    display: flex;
   
    align-items: center;
}

.login{
    width: 350px;
}
.login h1{
    margin: 1rem 0;
}
.box-left{
    width: 20%;
}
.box-left>i{
    text-align: left;
}

.box-right{
    width: 80%;
    text-align: center;
}


/* flex */
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
} 
.align-items-center {
    align-items: center;
}

.space_btw{
    justify-content: space-between;
}

/* #endregion utility */

.right:hover{
    border-bottom: 1px solid;
   
}

.btn{
    border: 1px solid black;
    padding: 0.5rem;
}
.btn-continua a{
    color: black;
}

.mb-2{
    margin-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}

.linea{
    
    height: 1px;
    width: 100%;
    background-color: #857b7b;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-box input{
    border: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #857b7b;

}

.btn-primary{
    background-color: #0061ff;
    padding: 1rem;
    text-align: center;
}

.btn-primary a{
    color: white;
}